#AmmoAndHealthCounter {
    position: absolute;
    bottom: 1.85vw;
    right: 2.5vw;
    width: 14vw;
    height: auto;
    display: flex;
    flex-flow: column;
    text-shadow: 0 0 0.15vw rgba(7, 7, 7, 0.45);

    .WeaponName {
        position: relative;
        text-align: right;
        padding: 0 .85vw;
        margin-bottom: 1vw;
        font-size: 1.25vw;
        opacity: 0;
        transition: opacity .1s ease;

        &.IsVisible {
            opacity: 1;
            transition: opacity .1s ease;
        }
    }

    .AmmoCounter {
        position: relative;
        display: flex;
        margin-bottom: 1.5vw;
        padding: 0;

        .current {
            grid-row: span 2 / auto;
            font-size: 2.6vw;
            text-align: right;
            padding-right: .5vw;
            flex: 1 1 auto;
            line-height: 0.65;
            font-weight: 400;

            span {
                width: 1.6vw;
                display: inline-block;
                text-align: center;
                color: #fff;
                font-style: normal;
                font-weight: 400;

                &.zero {
                    opacity: 0.2;
                }
            }
        }

        .left {
            display: flex;
            align-items: flex-start;
            flex-flow: column;
            justify-content: center;
            line-height: 1;

            .mag {
                font-size: 1.1vw;
                display: flex;
                min-width: 2.4vw;
                
                span {
                    width: 0.7vw;
                    display: inline-block;
                    text-align: center;
                    font-weight: 400;
                    color: #d5dde5;

                    &.zero {
                        opacity: 0.2;
                    }
                }
            }

            .type {
                font-size: .6vw;
                opacity: 1;
                width: 100%;
                text-align: left;
                line-height: 1;
                margin-top: .25vw;
                color: var(--warning);
                font-weight: 600;
                text-shadow: 0 0 0.25vw rgba(196, 117, 50, 0.8);
            }
        }
    }
}

.PercentageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .75vw;
}
