#shieldBreak {
    position: absolute;
    top: calc(50vh + 1.75vw);
    left: calc(50vw + 1.75vw);
    width: 2vw;
    height: 2vw;
    
    img {
        filter: drop-shadow(0 0 0.75vw rgba(7, 7, 7, 0.6));
    }
}
