#Gameover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 22vh 0 0;
    font-size: .8vw;
    text-shadow: 0 0 .3vw rgba(0, 0, 0, .4);
    background: rgba(0,0,0,0.0);
    z-index: 999;
    -webkit-animation: dark-background 1.5s ease both;
    animation: dark-background 1.5s ease both;

    .WonOrLost {
        -webkit-animation: scale-up-center 0.15s ease both;
        animation: scale-up-center 0.15s ease both;
        animation-delay: 2s;
        position: relative;
        margin-bottom: 2vw;

        span {
            font-size: 4.5vw;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 600;
            width: 30vw;
            height: 9vw;
            display: flex;
            align-items: center;
            justify-content: center;

            &.won {
                color: #d1ffbe;
                text-shadow: 0 0 0.5vw rgba(209, 255, 190, 0.4);
                background: rgba(209, 255, 190, .25);
                border: 0.1vw solid #d1ffbe;
            }

            &.lost {
                color: #ff9f80;
                text-shadow: 0 0 0.5vw rgba(255, 159, 128, 0.4);
                background: rgba(255, 159, 128, .25);
                border: 0.1vw solid #ff9f80;
            }

            &::before {
                content: '';
                background: transparent url('../assets/img/noise.gif') 50% 50% repeat;
                background-size: 200px;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -5;
                opacity: 0.3;
            }
        }
    }

    .Name {
        /*-webkit-animation: scale-up-center 0.15s ease both;
        animation: scale-up-center 0.15s ease both;
        animation-delay: 2s;*/
        -webkit-animation: scale-up-center 0.15s ease both;
        animation: scale-up-center 0.15s ease both;
        animation-delay: 2.45s;
        position: relative;
        margin-bottom: 1.5vw;
        color: #d5dde5;
        font-size: 4.2vw;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        text-shadow: 0 0 0.5vw rgba(255, 255, 255, 0.25);
    }

    .Rank,
    .Kills {
        color: #d5dde5;
        font-size: 1.45vw;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        text-shadow: 0 0 0.5vw rgba(255, 255, 255, 0.4);
        
        span {
            color: #94cdf3;
            margin-left: .4vw;
            text-shadow: 0 0 0.5vw rgba(148, 205, 243, 0.4);
        }
    }

    .Kills {
        span {
            color: #ff9f80;
            text-shadow: 0 0 0.5vw rgba(255, 159, 128, 0.4);
        }
    }

    /*.inline {
        display: flex;
        -webkit-animation: scale-up-center 0.15s ease both;
        animation: scale-up-center 0.15s ease both;
        animation-delay: 2.9s;
    }*/

    
    .Rank {
        -webkit-animation: scale-up-center 0.15s ease both;
        animation: scale-up-center 0.15s ease both;
        animation-delay: 2.45s;
        margin: 0 0 1vw;
    }

    .Kills {
        -webkit-animation: scale-up-center 0.15s ease both;
        animation: scale-up-center 0.15s ease both;
        animation-delay: 2.9s;
        margin: 0;
    }

    .btn {
        -webkit-animation: scale-up-center 0.35s ease both;
        animation: scale-up-center 0.35s ease both;
        animation-delay: 3.5s;
        margin-top: 3vw;
    }
}

@-webkit-keyframes dark-background {
    0% {
        background: rgba(0,0,0,0.0);
    }

    100% {
        background: rgba(0,0,0,0.75);
    }
}

@keyframes dark-background {
    0% {
        background: rgba(0,0,0,0.0);
    }

    100% {
        background: rgba(0,0,0,0.75);
    }
}

