#Messages {
    position: absolute;
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.05vw;
    text-shadow: 0 0 .3vw rgba(255, 255, 255, 0.6);
    text-transform: uppercase;

    span {
        &.keyboard {
            border: .05vw solid #fff;
            border-radius: 0.25vw;
            margin: 0 .75vw 0 0;
            background: rgba(50, 50, 50, 0.4);
            min-width: 1.55vw;
            height: 1.55vw;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-shadow: 0 0 .3vw rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 .3vw rgba(255, 255, 255, 0.6);
            padding: 0 .25vw .15vw .25vw;
        }
    }
}
