.inventoryTimerWrapper {
    .inventoryTimer {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 9999;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.65);
        border-radius: 50%;
        width: 4vw;
        height: 4vw;
    
        div {
            font-size: .9vw;
            color: #fff !important;
        }
    }
    
    #InventoryTimerName {
        position: absolute;
        left: 50%;
        top: 56.5%;
        z-index: 9999;
        transform: translate(-50%, -50%);
    
        line-height: 1vw;
        color: #fff;
        font-size: .8vw;
        text-transform: uppercase;
        margin: 0;
        font-style: normal;
        font-weight: 600;
    }    
}
