#LoadingScreen {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    font-size: 0.8vw;
    background: rgba(33, 33, 33, 1);
    z-index: 99999999;

    .LoadingBox {
        position: absolute;
        top: 50%;
        left: 6vw;
        width: 75vw;
        transform: translateY(-50%);

        .PageTitle {
            position: relative;
            display: inline-block;
            line-height: 0.8;
            margin: 0 0 0.15vw 0;
            padding: 0.8vw 0.75vw 1.25vw;
            color: #d5dde5;
            background-color: rgba(7, 7, 7, 0.6);
            text-transform: uppercase;
            font-size: 3.2vw;
            text-shadow: 0 0 0.5vw rgba(255, 255, 255, 0.35);
            font-weight: 600;
        }

        .ModeType {
            position: relative;
            display: inline-block;
            line-height: 0.8;
            margin: 0 0 3vw 0;
            padding: 0.5vw 0.78vw 0.8vw;
            background-color: rgba(7, 7, 7, 0.6);
            text-transform: uppercase;
            font-size: 1.6vw;
            color: var(--warning);
            text-shadow: 0 0 0.65vw rgba(196, 117, 50, 0.9);
            font-weight: 600;
        }

        .card {
            max-width: 25vw;

            &.ObjectiveBox {
                margin-bottom: 0.5vw;
            }

            &.TipsBox,
            &.ObjectiveBox {
                ul {
                    margin: 0;
                    padding: 0 0 0 1.5vw;

                    li {
                        line-height: 1.5vw;
                        color: #d5dde5;
                        font-size: 0.8vw;
                        text-transform: uppercase;
                        font-style: normal;
                        font-weight: 600;
                        margin: 0 0 0.65vw;

                        b {
                            font-weight: 600;
                            color: var(--warning);
                        }

                        &:last-of-type {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .bgWrapper {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            animation: move 10s infinite alternate;
            -webkit-animation: move 10s infinite alternate;
            position: absolute;
            filter: grayscale(1);
            z-index: -1000;
        }
    }

    .bgOverlay {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(35, 74, 101, 0.8);
        z-index: -50;
        mix-blend-mode: multiply;
    }

    .loader {
        position: absolute;
        right: 8vw;
        bottom: 6vw;
        z-index: 999;
        color: #fff;

        img {
            height: auto;
            width: 5vw;
        }

        h6 {
            font-size: 1vw;
            text-transform: uppercase;
            text-align: center;
            margin: 1vh 0 0 0;
            font-weight: 400;
        }
    }
}

@keyframes move {
    0% {
        -webkit-transform-origin: top right;
        transform-origin: top right;
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    100% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
}
