#MatchInfo {
    position: absolute;
    bottom: 13.9vw;
    left: 2.5vw;
    width: 12vw;
    transition: bottom .1s ease;
    z-index: 999;

    .card-header {
        h1 {
            font-size: .65vw;

            span {
                font-variant-numeric: tabular-nums;
            }
        }
    }

    &.noMap {
        bottom: 2.5vw;
        transition: bottom .1s ease;
    }

    &.deployScreen {
        left: auto;
        right: 2.5vw;
        bottom: 2.5vw;
    }
}
