#Messages {
    position: absolute;
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    text-shadow: 0 0 .3vw rgba(0, 0, 0, 0.3);

    span {
        &.keyboard {
            display: inline-block;
            border: .05vw solid #fff;
            padding: .5vw .85vw;
            margin: 0 .3vw;
            background: rgba(0, 0, 0, 0.5);
            font-weight: 600;
        }
    }
}
