.PercentageCounter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 1.2vw;
    margin-bottom: 0.25vw;

    img {
        max-width: 0.9vw;
        margin-right: 0.65vw;
        filter: drop-shadow(0 0 0.25vw rgba(255, 255, 255, 0.6));
    }

    .PercentageBg {
        flex: 1 1 auto;
        height: 0.4vw;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 0.3vw rgba(255, 255, 255, 0.15);
    }

    .PercentageFg {
        flex: 1 1 auto;
        height: 0.4vw;
        background: rgba(255, 255, 255, 1);
        transition: width 0.1s ease;
    }

    .PercentageText {
        width: 1.95vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.9vw;
        text-shadow: 0 0 0.6vw rgba(255, 255, 255, 0.4);
    }

    &.PercentageTypeArmor {
        img {
            filter: drop-shadow(0 0 0.25vw rgba(50, 122, 196, 0.6));
        }

        .PercentageBg {
            background: rgba(50, 122, 196, 0.25);
            box-shadow: 0 0 0.3vw rgba(50, 122, 196, 0.15);
        }

        .PercentageFg {
            background: rgba(50, 122, 196, 1);
        }

        .PercentageText {
            color: rgba(50, 122, 196, 1);
            text-shadow: 0 0 0.6vw rgba(50, 122, 196, 0.4);
        }
    }
}
